
@using SES.Models;

@{
    ViewBag.Title = "Danh mục sản phẩm";
}
@Scripts.Render("~/Scripts/app/Products.js")
@{
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var asset = dict.ContainsKey("asset") ? (Dictionary<string, bool>)dict["asset"] : new Dictionary<string, bool>();
    var listActiveStatus = dict.ContainsKey("activestatus") ? (List<ActiveStatus>)dict["activestatus"] : new List<ActiveStatus>();
    var listWareHouse = dict.ContainsKey("listWH") ? (List<DC_AD_WH>)dict["listWH"] : new List<DC_AD_WH>();
    var listWareHouseLocation = dict.ContainsKey("listWHL") ? (List<DC_AD_WHL>)dict["listWHL"] : new List<DC_AD_WHL>();
    var listUnit = dict.ContainsKey("listUnit") ? (List<DC_AD_Unit>)dict["listUnit"] : new List<DC_AD_Unit>();
}
<style>
    .ace-file-input {
        position: relative;
        height: 38px;
        line-height: 38px;
        margin-bottom: 9px;
    }
</style>
<section>
    @if (Auth_Action.AssetResult(asset, "Search")) { 
        <div class="row divSearch">
            <div class="col-sm-12">
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        @*<span class="widget-icon"> <i class="fa fa-search"></i> </span>*@
                        <h2 style="color:#6fb3e0">Tìm kiếm</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        @if (Auth_Action.AssetResult(asset, "Name"))
                                        {
                                            <section class="col col-3">
                                                <label class="input">
                                                    <input type="text" class="input-xs" id="txtname" placeholder="Tên sản phẩm">
                                                </label>
                                            </section>
                                        }
                                        @if (Auth_Action.AssetResult(asset, "Status"))
                                        {
                                            <section class="col col-3search">
                                                <label class="select">
                                                    @Html.DropDownList("selectStatus_search", new SelectList(listActiveStatus, "StatusValue", "StatusName"), "-- Chọn trạng thái --")
                                                </label>
                                            </section>
                                        }
                                        <section class="col col-3search">
                                            <a class="k-button k-button-icontext btn_customSearch" href="javascript:void(0);" onclick="doSearch()">Tìm kiếm</a>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div class="row">
        <div id="popupImport">
            <div style="float:left;">
                <form id="importform" action="@Url.Content("~/Products/ImportData")" method="post" enctype="multipart/form-data" style="margin-bottom:0px;">
                    <input type="file" name="FileUpload" class="FileUpload" />
                </form>
            </div>
            <div style="float:right;">
                <a class="k-button k-button-icontext btn_custom" href="javascript:void(0);" onclick="beginImport()">Nhập</a>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

    <div class="jarviswidget">
        <header>
            <h2 style="color:#6fb3e0">Danh mục sản phẩm</h2>
        </header>
        <div class="row">
            <article class="col-sm-12">
                <div class="widget-body">
                    @(Html.Kendo().Grid<SES.Models.Products>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        if (asset.ContainsKey("Update") && asset["Update"])
                        {
                            columns.Bound(p => p.Code).HtmlAttributes(new { data_id = "#=Code#", onclick = "onOpenPopup(1,this)", @style = "color:\\#428bca;cursor:pointer;text-decoration:underline" }).Title("Mã sản phẩm").Width(110);
                        }
                        else
                        {
                            columns.Bound(p => p.Name).Title("Tên sản phẩm").Width(100);
                        }
                        if (Auth_Action.AssetResult(asset, "Name"))
                        {
                            columns.Bound(p => p.Name).Title("Tên sản phẩm").HtmlAttributes(new { data_column = "Name" }).Width(150);
                        }
                        if (Auth_Action.AssetResult(asset, "Size"))
                        {
                            columns.Bound(p => p.Size).Title("Kích thước").HtmlAttributes(new { data_column = "Size" }).Width(150);
                        }
                        if (Auth_Action.AssetResult(asset, "VATPrice"))
                        {
                            columns.Bound(p => p.VATPrice).Title("Giá sản phấm").HtmlAttributes(new { data_column = "VATPrice", @style = "text-align:right;" }).Width(130).Format("{0:N0}");
                        }
                        if (Auth_Action.AssetResult(asset, "Type"))
                        {
                            columns.Bound(p => p.Type).Title("Loại").Width(150);
                        }
                        if (Auth_Action.AssetResult(asset, "Unit"))
                        {
                            columns.ForeignKey(p => p.Unit, (System.Collections.IEnumerable)listUnit, "UnitID", "UnitName").Title("Đơn vị tính").Width(150);
                        }
                        if (Auth_Action.AssetResult(asset, "WHID"))
                        {
                            columns.ForeignKey(p => p.WHID, (System.Collections.IEnumerable)listWareHouse, "WHID", "WHName").Title("Kho").Width(130);
                        }
                        if (Auth_Action.AssetResult(asset, "WHLID"))
                        {
                            columns.ForeignKey(p => p.WHLID, (System.Collections.IEnumerable)listWareHouseLocation, "WHLID", "WHLName").Title("Vị trí kho").Width(150);
                        }
                        if (Auth_Action.AssetResult(asset, "ShapeTemplate"))
                        {
                            columns.Bound(p => p.ShapeTemplate).Title("Khung bế").Width(100);
                        }
                        if (Auth_Action.AssetResult(asset, "Status"))
                        {
                            columns.Bound(p => p.Status).Title("Trạng thái").HtmlAttributes(new { data_column = "Status" }).Width(130);
                        }
                        columns.Bound(p => p.CreatedBy).Title("Người tạo").Width(110);
                        columns.Bound(p => p.CreatedAt).Width(110).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { style = "text-align:right" }).Title("Ngày tạo").Width(110);
                        columns.Bound(p => p.UpdatedBy).Title("Người cập nhật").Width(110);
                        columns.Bound(o => o.UpdatedAt).Title("Ngày cập nhật").Format("{0:dd/MM/yyyy}").Width(110).ClientTemplate("#if(kendo.toString(UpdatedAt,'dd/MM/yyyy') != '01/01/1900'){#" + "#= kendo.toString(UpdatedAt,'dd/MM/yyyy') #" + "#}#");
                    
                    })
                    .ToolBar(toolBar =>
                        {
                            if (asset.ContainsKey("Insert") && asset["Insert"])
                            {
                                toolBar.Custom()
                                        .Text("Thêm mới")
                                        .HtmlAttributes(new { id = "btnInsert", @class = "btn btn-success", @style = "background-color:#87b87f; color:white;", onclick = "onOpenPopup(0,this)", @href = "javascript:void(0)" });
                            }
                            if (asset.ContainsKey("Export") && asset["Export"])
                            {
                                toolBar.Custom()
                                        .Text("Xuất Excel")
                                        .HtmlAttributes(new { @class = "btn btn-primary export", @style = "background-color:#428bca; color:white;" }).Url(Url.Action("Export", "Products", new { filter = "~", sort = "~", Code = "~" }));
                            }
                            if (asset.ContainsKey("Import") && asset["Import"])
                            {
                                toolBar.Custom()
                                        .Text("Nhập Excel")
                                        .HtmlAttributes(new { @class = "btn btn-info", @style = "background-color:#9585bf; color:white;", onclick = "openImport()", @href = "javascript:void(0)" });
                            }

                        })
                    .Events(events => { events.DataBound("onDatabound"); })
                    .Pageable(pager => pager.PageSizes(new[] { 20, 100, 200, 300 }))
                    .Resizable(r => r.Columns(true))
                    .Navigatable()
                    .Scrollable()
                    .Sortable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(true)
                        .PageSize(100)
                        .Model(model =>
                        {
                            model.Id(p => p.Id);
                        })
                        //.Events(e => { e.RequestEnd("onRequestEnd"); e.RequestStart("onRequestStart"); })
                                .Read(read => read.Action("Read", "Products"))
                    )
                    )
              </div>
</article>
</div>
     </div>
    <div id="popup" class="row" style="margin:0 auto">
        <div class="bordered">
            @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { @class = "smart-form", id = "formPopup", enctype = "multipart/form-data" }))
            {
                @Html.Hidden("CreatedAt");
                @Html.Hidden("CreatedBy");
                @Html.Hidden("Id");
                <fieldset style="float: left; width: 370px; padding-left: 0px; padding-right: 0px;">
                    <section style="display:none; float:left;"></section>
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right;">Tên sản phẩm (*)</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="input" style="float:right;width:240px;">
                                @Html.TextBox("Name", "", new { @class = "input-xs popup_text_right", placeholder = "Tên sản phẩm" })
                                @*<b class="tooltip tooltip-top-right">Tên ấn phẩm</b>*@
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right">Kích cỡ (*)</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="input" style="float:right;width:240px;">
                                @Html.TextBox("Size", "", new { @class = "input-xs popup_text_right", placeholder = "Kích cỡ" })
                                @*<b class="tooltip tooltip-top-right">Kích cỡ</b>*@
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right">Gía (*)</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="input" style="float:right;width:240px;">
                                @Html.TextBox("VATPrice", "", new { @class = "input-xs popup_text_right", placeholder = "Giá" })
                                @*<b class="tooltip tooltip-top-right">Giá</b>*@
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right">Loại</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="input" style="float:right;width:240px;">
                                @Html.TextBox("Type", "", new { @class = "input-xs popup_text_right", placeholder = "Loại" })
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right">Trạng thái</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="select" style="float: right">
                                @Html.DropDownList("Status", new SelectList(listActiveStatus, "StatusValue", "StatusName", 1))
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                   
                </fieldset>
                <fieldset id="popupContent" style="float: left; width: 370px; border: none; padding-right:0;">
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right">Đơn vị</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="select" style="float: right">
                                @Html.DropDownList("Unit", new SelectList(listUnit, "UnitID", "UnitName"), "Chọn đơn vị tính")
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right">Kho</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="select" style="float: right">
                               @Html.DropDownList("WHID", new SelectList(listWareHouse, "WHID", "WHName"), "Chọn kho")
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right">Chọn kho trí kho</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="select" style="float: right">
                                @Html.DropDownList("WHLID", new SelectList(listWareHouseLocation, "WHLID", "WHLName"), "Chọn kho trí kho")
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right">Khung bế</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="input" style="float:right;width:240px;">
                                @Html.TextBox("ShapeTemplate", "", new { @class = "input-xs popup_text_left", placeholder = "Khung bế" })
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div style="float: left; width: 120px; margin-left:0;">
                            <label class="label" style="float:right">Ghi chú</label>
                        </div>
                        <div style="float: left; width: 240px; margin-right: 0; margin-left: 10px;">
                            <label class="textarea textarea-resizable" style="float:right;width:240px;">
                                @Html.TextArea("Desc", "", new { @class = "input-xs popup_text_left", placeholder = "Ghi chú" })
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                </fieldset>
                <div style="clear:both"></div>
                <footer>
                    <button type="submit" class="k-button k-button-icontext btn_custom" style="float: left;">Lưu</button>
                    <img src="@Url.Content("~/Content/Bootstrap/loading.gif")" class="hide" id="loading" style="margin-top: 17px;" />
                </footer>
            }
        </div>
    </div>
</section>