@model SES.Models.LogOnModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>Log In - Deca Insight System</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/CustomStyles.css")">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/smartadmin-production.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/smartadmin-skins.min.css")">

    <!-- SmartAdmin RTL Support is under construction
         This RTL CSS will be released in version 1.5
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> -->
    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/css/demo.min.css")">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="@Url.Content("~/img/favicon.ico")" type="image/x-icon">
    @*<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">*@

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="@Url.Content("~/img/splash/sptouch-icon-iphone.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/img/splash/touch-icon-ipad.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/img/splash/touch-icon-iphone-retina.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/img/splash/touch-icon-ipad-retina.png")">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="@Url.Content("~/img/splash/ipad-landscape.png")" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="@Url.Content("~/img/splash/ipad-portrait.png")" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="@Url.Content("~/img/splash/iphone.png")" media="screen and (max-device-width: 320px)">
    <script src="@Url.Content("~/css/ace.min.css")"></script>

</head>

<body class="animated fadeInDown login-layout" style="background: rgb(0, 180, 193);">


    <div id="main" role="main" style="height:750px;">

        <!-- MAIN CONTENT -->
        <div id="content" class="container">

            @*<div class="row" style="background-image:url('@Url.Content("~/img/hhhome.jpg")');background-repeat no-repeat;">*@
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 hidden-xs hidden-sm"> </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    <div class="well no-padding" style="margin-top:30px;">
                        @using (Html.BeginForm("logon", "account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { id = "login-form", @class = "smart-form client-form" }))
                        {
                            <fieldset  style=" background-color: white; padding: 0px 0px 5px;">
                                <span id="logologin">
                                    <img src="@Url.Content("~/img/deca_login_header.png")" />
                                </span>
                               
                                <div style="min-height:2px;margin:8px 0;overflow:hidden;"></div>
                                <span style="margin-left:26px;">
                                    <img src="@Url.Content("~/img/login_title.png")" />
                                </span>
                                <div style="min-height:2px;margin:1px 0;overflow:hidden;"></div>
                                <div style="color: red; margin-left: 40px;">
                                    @Html.ValidationSummary()
                                </div>
                                <div style=" min-height:17px;margin:8px 0;overflow:hidden;"></div>
                                <section style="margin-left: 26px;">
                                    <!--<label class="label">Tên đăng nhập</label>-->
                                    <label class="input" style="width:303px;">
                                        <i class="icon-append fa fa-user"></i>
                                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Tên đăng nhập" })
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Vui lòng nhập tên đăng nhập</b>
                                    </label>
                                </section>
                                <div style=" min-height:10px;margin:8px 0;overflow:hidden;"></div>
                                <section style="margin-left: 26px;">
                                    <!--<label class="label">Mật khẩu</label>-->
                                    <label class="input" style="width:303px;">
                                        <i class="icon-append fa fa-lock"></i>
                                        @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu" })
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Nhập mật khẩu</b>
                                    </label>
                                    @*<div class="note">
                <a href="forgotpassword.html">Forgot password?</a>
            </div>*@
                                </section>
                                <div style="max-height:1px; min-height:1px;margin:8px 0;overflow:hidden;"></div>
                                <section style="margin-left: 26px;">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <i></i>
                                        Ghi nhớ đăng nhập
                                        @*@Html.CheckBoxFor(m => m.RememberMe, new { style = "opacity:1;width:29px;height:29px;margin-left:14px;" })
                <span style="margin-left: 20px;font-size:17px;">Ghi nhớ đăng nhập</span>*@
                                    </label>
                                </section>
                                <div style="max-height:1px; min-height:1px;margin:8px 0;overflow:hidden;"></div>
                                <section style="margin-left: 26px;">
                                    <div class="g-recaptcha" data-sitekey="6LeRnQ4TAAAAAPnsrq2I9V0vfzISTR3sWh-5_R93"></div>
                                </section>
                                
                                <div style="max-height:1px; min-height:1px;margin:12px 0;overflow:hidden;"></div>
                                <section style="width: 303px; margin-left: 26px;" >

                                    <input type="submit" value="Đăng nhập" class="btn" style="background-color: #f79433 !important; color: white !important; border: none !important; width: 100%; height: 40px;" />


                                </section>
                                <div style="max-height:1px; min-height:1px;margin:2px 0 1px;overflow:hidden;"></div>
                                <section style="width: 303px; margin-left: 26px;" >
                                    <input value="Đăng nhập bằng Google" style="background-color: #f93333 !important; color: white !important; border: none; width :100%; height :40px; " type="submit" class="btn" title="Log in using your " />
                                </section>
                                
                            </fieldset>
                            <br />
    
                            //@Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                        }
                    </div>

                    @*<h5 class="text-center"> - Or sign in using -</h5>

                    <ul class="list-inline text-center">
                        <li>
                            <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>*@

                </div>
            </div>
        </div>

    </div>

    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    @*<script src="@Url.Content("~/js/plugin/pace/pace.min.js")"></script>*@

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script> if (!window.jQuery) { document.write('<script src="@Url.Content("~/js/libs/jquery-2.0.2.min.js")"><\/script>'); } </script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script> if (!window.jQuery.ui) { document.write('<script src="@Url.Content("~/js/libs/jquery-ui-1.10.3.min.js")"><\/script>'); } </script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events -->
    <script src="@Url.Content("~/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js")"></script>
    <!-- BOOTSTRAP JS -->
    <script src="@Url.Content("~/js/bootstrap/bootstrap.min.js")"></script>

    <!-- JQUERY VALIDATE -->
    <script src="@Url.Content("~/js/plugin/jquery-validate/jquery.validate.min.js")"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="@Url.Content("~/js/plugin/masked-input/jquery.maskedinput.min.js")"></script>

    <script src="https://www.google.com/recaptcha/api.js?hl=vi"></script>

    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    @*<script src="@Url.Content("~/js/app.min.js")"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            //document.title = "Đăng nhập";

            var headerH = $('#header').height();
            //: 80px 60px;
            var teamp = $('#content .row:eq(0)');
            $('#content .row:eq(0)').css({
                'height': $(window).height() - headerH - 100
                , 'background-size': '100% 100%'
            });
            //css header
            $('#header').css({ 'background-size': '100% 100%' });
        });
        //runAllForms();

        $(function () {
            $("#UserName").focus();

            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    UserName: {
                        required: true
                    },
                    Password: {
                        required: true
                    }
                },
                // Messages for form validation
                messages: {
                    UserName: {
                        required: 'Vui lòng nhập tên đăng nhập'
                    },
                    Password: {
                        required: 'Vui lòng nhập mật khẩu'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    $(error).css('color', 'red');
                    error.insertAfter(element.parent());
                },

                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>

</body>

</html>