@using SES.Models;
@{
    ViewBag.Title = "Thông báo";
    <script src="~/js/plugin/ckeditor/ckeditor.js"></script>
}

<script src="@Url.Content("~/Scripts/app/app.js")"></script>
<script src="@Url.Content("~/Scripts/app/HOAdminAuthAnnouncement.js")"></script>

@{
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var asset = dict.ContainsKey("asset") ? (Dictionary<string, bool>)dict["asset"] : new Dictionary<string, bool>();
    var listActiveStatus = dict.ContainsKey("activestatus") ? (List<ActiveStatus>)dict["activestatus"] : new List<ActiveStatus>();

}

<section id="widget-grid" class="">
    @if (Auth_Action.AssetResult(asset, "Search"))
    {
        <div class="row divSearch">
            <!-- NEW COL START -->
            <article class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        @*<span class="widget-icon"> <i class="fa fa-search"></i> </span>*@
                        <h2 style="color:#6fb3e0">Tìm kiếm</h2>

                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        @if (Auth_Action.AssetResult(asset, "AnnouncementID"))
                                        {
                                            <section class="col col-3">
                                                <label class="input">
                                                    <input type="text" class="input-xs" id="txtAnnouncementID" placeholder="Mã, tên tiêu đề">
                                                </label>
                                            </section>
                                        }
                                        @*@if (Auth_Action.AssetResult(asset, "AppliedFor"))
                                            {
                                                <section class="col col-3">
                                                    <label class="input">
                                                        <input type="text" class="input-xs" id="AppliedFor_search" placeholder="Đối tượng áp dụng">
                                                    </label>
                                                </section>
                                            }*@
                                        @if (Auth_Action.AssetResult(asset, "IsActive"))
                                        {
                                            <section class="col col-3">
                                                <label class="select">
                                                    @Html.DropDownList("selectIsActive_search", new SelectList(listActiveStatus, "StatusValue", "StatusName"), "-- Chọn trạng thái --")
                                                </label>
                                            </section>
                                        }
                                        <section class="col col-3">
                                            <label class="input">
                                                <a class="k-button k-button-icontext btn_customSearch" href="javascript:void(0);" onclick="doSearch()">Tìm kiếm</a>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->
        </div>
    }

    <div class="row">
        <div id="popupImport">
            <div style="float:left;">
                <form id="importform" action="@Url.Content("~/HOAdminAuthAnnouncement/Import")" method="post" enctype="multipart/form-data" style="margin-bottom:0px;">
                    <input type="file" name="FileUpload" />
                </form>
            </div>
            <div style="float:right;">
                <a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="beginImport()">Import</a>
            </div>
            <div style="clear:both"></div>
            <div id="divImport" hidden>
                <label>Success : <strong id="totalImport">0</strong></label>
                <label>Error : <strong id="totalImportError">0</strong></label>
                <div>
                    <a class="btn btn-primary btn-sm" id="btnDownloadError" href="javascript:void(0);">Download Error</a>
                </div>
            </div>
        </div>
    </div>
    <div class="jarviswidget">
        <header>
            <h2 style="color:#6fb3e0">Danh sách thông báo</h2>
        </header>
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12">
                <div class="widget-body">
                    @(Html.Kendo().Grid<SES.Models.Master_Announcement>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        //columns.Bound(p => p.AnnouncementID).HeaderTemplate("<input style='text-align:center;opacity:1;' type='checkbox' id= 'checkAll'  onclick='checkBoxAll();' />")
                        //    .ClientTemplate("<input style='text-align:center' onClick='checkBox(this)' class='checkvalue' type='checkbox' data-id= '#=AnnouncementID#' />").Width(40).Filterable(false).Sortable(false).Groupable(false);

                        if (asset.ContainsKey("Update") && asset["Update"])
                        {
                            columns.Bound(p => p.AnnouncementID).HtmlAttributes(new { data_id = "#=AnnouncementID#", onclick = "onOpenPopup(1,this)", @style = "text-align:right; color:\\#428bca;cursor:pointer;text-decoration:underline" }).Title("Mã thông báo").Width(80);
                        }
                        else
                        {
                            columns.Bound(p => p.AnnouncementID).Title("Mã thông báo").Width(70);
                        }
                        if (Auth_Action.AssetResult(asset, "Title"))
                        {
                            columns.Bound(p => p.Title).Title("Tiêu đề").Width(300);
                        }
                        if (Auth_Action.AssetResult(asset, "Status"))
                        {
                            columns.Bound(p => p.Status).Title("Trạng thái").HtmlAttributes(new { data_column = "IsActive" }).Width(100);
                        }
                        columns.Bound(p => p.CreatedBy).Title("Người tạo").Width(100);

                        columns.Bound(p => p.CreatedAt).Format("{0:dd/MM/yyyy}").Title("Ngày tạo").HtmlAttributes(new { @style = "text-align:right" }).Width(100);

                    })
                    .ToolBar(toolBar =>
                        {
                            if (asset.ContainsKey("Insert") && asset["Insert"])
                            {
                                toolBar.Custom()
                                        .Text("Thêm mới")
                                        .HtmlAttributes(new { id = "btnInsert", @class = "Addbtn", onclick = "onOpenPopup(0,this)", @href = "javascript:void(0)" });
                            }

                        })
                    .Events(events => { events.DataBound("onDatabound"); })
                    .Pageable(pager => pager.PageSizes(new[] { 20, 100, 200, 300 }))
                    .Resizable(r => r.Columns(true))
                    .Navigatable()
                    .Scrollable()
                    .Sortable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(true)
                        .PageSize(100)
                        .Model(model =>
                        {
                            model.Id(p => p.AnnouncementID);
                        })
                        .Events(e => { e.RequestEnd("onRequestEnd"); e.RequestStart("onRequestStart"); })
                                .Read(read => read.Action("Read", "HOAdminAuthAnnouncement"))
                    )
                    )
                </div>
            </article>
            <!-- END COL -->

        </div>
    </div>

    <div id="popup" class="row" style="margin:0 auto">

        @using (Html.BeginForm("Create", "HOAdminAuthAnnouncement", FormMethod.Post, new { @class = "smart-form", id = "formPopup", enctype = "multipart/form-data" }))
        {
            @Html.Hidden("CreatedAt");
            @Html.Hidden("CreatedBy");
            @Html.Hidden("TextContent");
            @Html.Hidden("HTMLContent");
            <fieldset id="htmlContentInfor" style="float: left; width: 45%">
                <section>
                    <label class="label" style="float: left; width: 120px;">Mã thông báo (*)</label>
                    <label class="input" style="float: left">
                        @Html.Label("AnnouncementID")
                        @*<b class="tooltip tooltip-top-right">Mã thông báo (*)</b>*@
                    </label>
                    <div style="clear:both"></div>
                </section>
                <section>
                    <label class="label" style="float: left; width: 120px; ">Tiêu đề (*)</label>
                    <label class="input" style="float: left">
                        @Html.TextBox("Title", "", new { @class = "input-xs popup_text_left", placeholder = "Tiêu đề (*)" })
                        @*<b class="tooltip tooltip-top-right">Tiêu đề (*)</b>*@
                    </label>
                    <div style="clear:both"></div>
                </section>

            </fieldset>
            <fieldset id="popupContent" style="float: left; width: 400px; border: none">
                <section>
                    <label class="label" style="float: left; width: 120px;">Trạng thái (*)</label>
                    <label class="select" style="float: left">
                        @Html.DropDownList("Status", new SelectList(listActiveStatus, "StatusValue", "StatusName", 1))
                    </label>
                    <div style="clear:both"></div>
                </section>
            </fieldset>
            <fieldset id="htmlContentDiv" style="float: left; padding-top:0px; clear: both; border-top: none;width:98%">
                <section>
                    <label class="label" style="float:left">Nội dung (*)</label>
                    <div class="col-md-9" style="float: right; width: 100%;">
                        <textarea id="HTMLContentView" name="HTMLContentView" rows="10" cols="30"></textarea>
                    </div>
                </section>

            </fieldset>

            <div style="clear:both"></div>
            <footer>
                <button type="submit" class="k-button k-button-icontext btn_custom" style="float: left;" id="btnSubmit">Lưu</button>
                <img src="@Url.Content("~/Content/Bootstrap/loading.gif")" class="hide" id="loading" style="margin-top: 17px;" />
            </footer>
        }
    </div>



</section>
