@using SES.Models
@{
    ViewBag.Title = "Lý do";
}
@{
    var dict = Model != null ? (Dictionary<string, object>)Model : new Dictionary<string, object>();
    var asset = dict.ContainsKey("asset") ? (Dictionary<string, bool>)dict["asset"] : new Dictionary<string, bool>();
    var listActiveStatus = dict.ContainsKey("activestatus") ? (List<ActiveStatus>)dict["activestatus"] : new List<ActiveStatus>();
}
<script src="@Url.Content("~/Scripts/app/app.js")"></script>
<script src="@Url.Content("~/Scripts/app/Reason.js")"></script>
@*<script src="@Url.Content("~/Scripts/app/app.js")"></script>*@
<div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
    <header>
        @*<span class="widget-icon"> <i class="fa fa-search"></i> </span>*@
        <h2 style="color:#6fb3e0">Tìm kiếm</h2>

    </header>
    <div>
        <div class="widget-body no-padding">
            <form class="smart-form">
                <fieldset>
                    <section class="row">
                        @*@if (Auth_Action.AssetResult(asset, "ReasonID"))
                            {*@
                        <section class="col col-3search">
                            <label class="input">
                                <input type="text" class="input-xs" id="txtReasonID" placeholder="Mã, loại lý do">
                            </label>
                        </section>
                        <section class="col col-3search">
                            <label class="select">
                                @Html.DropDownList("selectIsActive_search", new SelectList(listActiveStatus, "StatusValue", "StatusName"), "-- Chọn trạng thái --")
                            </label>
                        </section>
                        <section class="col col-3search">
                            <a class="k-button k-button-icontext btn_customSearch" href="javascript:void(0);" onclick="doSearch()">Tìm kiếm</a>
                        </section>
                    </section>
                </fieldset>
            </form>

        </div>
    </div>
</div>
<div class="jarviswidget">
    <header>
        @*<span class="widget-icon"> <i class="fa fa-search"></i> </span>*@
        <h2 style="color:#6fb3e0">Lý do</h2>

    </header>
    <div class="row">
        <!-- NEW COL START -->
        <article class="col-sm-12">
            <div class="widget-body">
                @(Html.Kendo().Grid<SES.Models.DC_Reason>()
        .Name("grid")
                    .Columns(columns =>
                    {
                        if (asset.ContainsKey("Update") && asset["Update"])
                        {
                            columns.Bound(p => p.ReasonID).HtmlAttributes(new { data_id = "#=ReasonID#", onclick = "onOpenPopupDe(1,this)", @style = "color:\\#428bca;cursor:pointer;text-decoration:underline" }).Title("Mã lý do").Width(100);
                        }
                        else
                        {
                            columns.Bound(p => p.ReasonID).Title("Mã lý do").Width(100);
                        }
                        if (Auth_Action.AssetResult(asset, "ReasonType"))
                        {
                            columns.Bound(p => p.ReasonType).Title("Loại lý do").HtmlAttributes(new { data_column = "ReasonType" }).Width(130);
                        }
                        if (Auth_Action.AssetResult(asset, "Description"))
                        {
                            columns.Bound(p => p.Description).Title("Diễn giải").Width(130);
                        }
                        if (Auth_Action.AssetResult(asset, "IsActive"))
                        {
                            columns.Bound(p => p.IsActive).Title("Trạng thái").HtmlAttributes(new { data_column = "IsActive" }).Width(130);
                            //columns.Bound(p => p.IsActive).Title("Trạng thái").Width(130);
                        }


                    })
                    .ToolBar(toolBar =>
                        {
                            if (asset.ContainsKey("Insert") && asset["Insert"])
                            {
                                toolBar.Custom()
                                        .Text("Thêm mới")
                                        .HtmlAttributes(new { id = "btnInsert", @class = "btn btn-success", @style = "background-color:#87b87f; color:white;", onclick = "onOpenPopupDe(0,this)", @href = "javascript:void(0)" });
                            }
                            if (asset.ContainsKey("Export") && asset["Export"])
                            {
                                toolBar.Custom()
                                        .Text("Xuất Excel")
                                        .HtmlAttributes(new { @class = "btn btn-primary export", @style = "background-color:#428bca; color:white;" }).Url(Url.Action("Export", "Reason", new { filter = "~", sort = "~" }));
                            }
                        })
                    .Events(events => { events.DataBound("onDatabound"); })
                    .Pageable(pager => pager.PageSizes(new[] { 20, 100, 200, 300 }))
                    .Resizable(r => r.Columns(true))
                    .Navigatable()
                    .Scrollable()
                    .Sortable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(true)
                        .PageSize(100)
                        .Model(model =>
                        {
                            model.Id(p => p.ReasonID);
                        })
                        .Read(read => read.Action("Read", "Reason"))
                    )
                )
            </div>
        </article>
        <!-- END COL -->

    </div>

    <div id="popup" class="row" style="margin:0 auto">
        <div class="bordered">

            @using (Html.BeginForm("Create", "Reason", FormMethod.Post, new { @class = "smart-form", id = "formPopupRe", enctype = "multipart/form-data" }))
            {
                @Html.Hidden("RowCreatedAt");
                @Html.Hidden("RowCreatedBy");
                <fieldset style="float:left;width:370px;padding-left:0;padding-right:0;padding-top:26px">
                    <section style="float:left;">
                        <div class=" divlabel">
                            <label class="label" style="float:right">Mã lý do (*)</label>
                        </div>
                        <div class="divfile">
                            <label class="input" style="float:right;width:240px;">
                                @Html.TextBox("ReasonID", "", new { @class = "input-xs popup_text_left", placeholder = "Mã lý do" })
                                @*<b class="tooltip tooltip-top-right">Mã lý do</b>*@
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div class="divlabel">
                            <label class="label" style="float:right">Loại lý do</label>
                        </div>
                        <div class="divfile">
                            <label class="select" style="float: right">

                                @Html.DropDownList("ReasonType", new SelectList(new List<object>
                            {
                                new { value ="None" , text = "-- Chọn loại lý do --" },
                                new { value ="Lý do 1" , text = "Lý do 1"  },
                                new { value = "Lý do 2" , text = "Lý do 2" },
                                new { value = "Lý do 3" , text = "Lý do 3"},
                                        new { value ="Lý do 4" , text = "Lý do 4"  }
                                    },
                                    "value",
                                    "text",
                                    1
                                    )
                                    )

                                @*<b class="tooltip tooltip-top-right">Loại lý do</b>*@
                            </label>
                            <div style="clear:both"></div>
                        </div>

                    </section>
                    <section style="float:left;">
                        <div class="divlabel">
                            <label class="label" style="float:right">Trạng thái(*)</label>
                        </div>
                        <div class="divfile">
                            <label class="select" style="float: right">
                                @Html.DropDownList("IsActive", new SelectList(listActiveStatus, "StatusValue", "StatusName", 1))
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                    <section style="float:left;">
                        <div class="divlabel">
                            <label class="label" style="float:right">Diễn giải</label>
                        </div>
                        <div class="divfile">
                            <label class="textarea textarea-resizable" style="float: right; width: 240px;">
                                @Html.TextArea("Description", new { placeholder = "Diễn giải", @style = "min-height:56px;width:100%;margin-right:91px" })
                                @*<b class="tooltip tooltip-top-right">Ghi chú</b>*@
                            </label>
                            <div style="clear:both"></div>
                        </div>
                    </section>
                </fieldset>
                @*<fieldset id="popupContent" style="float: left; width: 370px; border: none; padding-right: 0; padding-top: 26px">
                        <section style="float:left;">
                            <div class="divlabel">
                                <label class="label" style="float:right">Diễn giải</label>
                            </div>
                            <div class="divfile">
                                <label class="textarea textarea-resizable" style="float: right; width: 240px;">
                                    @Html.TextArea("Description", new { placeholder = "Diễn giải", @style = "min-height:56px;width:100%;margin-right:91px" })
                                    <b class="tooltip tooltip-top-right">Ghi chú</b>
                                </label>
                                <div style="clear:both"></div>
                            </div>
                        </section>
                    </fieldset>*@
                <div style="clear:both"></div><br />
                <footer>
                    <button type="submit" class="k-button k-button-icontext btn_custom" style="float: left;" id="btnSubmit">Lưu</button>
                    <img src="@Url.Content("~/Content/Bootstrap/loading.gif")" class="hide" id="loading" style="margin-top: 5px;" />
                </footer>
            }
        </div>
    </div>
</div>



